.hidden {
  display: none;
}

#tooltip {
  position: absolute;
  width: 250px;
  height: 90px;
   background-color: white;
   -webkit-border-radius: 10px;
   -mox-border-radius: 10px;
   border-radius: 10px
   -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
   -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
   box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
   pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 13px "helvetica neue";
}

.axis tspan {
  font-size: 9px;
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}
.grid path {
          stroke-width: 0;
}

#x-label {
  font-size: 15px;
  font-family: sans-serif;
}

#y-label {
  font-size: 15px;
  font-family: sans-serif;
}
